// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset"; 

body {
  background: url(/images/body-bg.png) repeat-x; 
  margin: 0; 
  padding: 0; }

header, nav, section, aside {
  display: block; }
  
.wrapper {
  width: 100%; 
  height: 100%; 
  background: url(/images/wrapper-bg.jpg) 50% 0 no-repeat; 
  }
  
.canvas {
  width: 960px; 
  height: 963px; 
  background: url(/images/canvas-bg.png) 0 40px no-repeat;
  margin: 0 auto; }
  
header {
  width: 960px; 
  height: 190px; 

  a.logo {
    position: relative;
    top: 40px;
    display: block; 
    width: 220px; 
    height: 90px; 
  }
  
  ul {
    list-style-type: none; 
    float: right; 
    margin-right: 70px; 
    
    li {
      display: inline; 
      line-height: 40px; 
      font-family: "Arial", sans-serif; 
      font-size: 12px; 

      &.last {
        border-left: 1px solid #77868b; 
      }
      
      a {
        color: #d3f6ff; 
        padding: 0 10px; 
        text-decoration: none; 
        
        &:hover {
          text-decoration: underline; 
        }
      }
    }
  }
}



nav {
  position: relative; 
  width: 960px; 
  height: 70px; 
  background: url(/images/nav-lenia.png) 0 1px no-repeat; 
  
  .scissor {
    position: absolute; 
    width: 20px; 
    height: 18px; 
    right: 230px; 
    bottom: -8px; 
    background: url(/images/kisollo.png) no-repeat;
  }

  ul {
    list-style-type: none; 
    display: block; 
    margin: 0; 
    padding: 0; 
    width: 960px; 
    height: 70px; 
    padding-left: 27px; 
    
    li {
      display: block; 
      float: left; 
      height: 70px; 
      background: url(/images/nav-bg.png) no-repeat; 
      
      a {
        display: block; 
        width: 100%; 
        height: 70px; }
      
      &.design {
        width: 103px; 
        background-position: -27px 0; 
        
        &:hover {
          background-position: -27px -70px; 
        }
      }
      
      &.exp {
        width: 160px; 
        background-position: -130px 0; 

        &:hover {
          background-position: -130px -140px; 
        }
      }
      
      &.photos {
        width: 92px; 
        background-position: -290px 0; 

        &:hover {
          background-position: -290px -210px; 
        }
      }

      &.graphics {
        width: 104px; 
        background-position: -382px 0; 
        
        &:hover {
          background-position: -382px -280px; 
        }
      }
      
      &.about {
        width: 91px; 
        background-position: -486px 0; 

        &:hover {
          background-position: -486px -350px; 
        }
      }
    }
  }
}

ul.sub {
  position: absolute;
  width: 307px; 
  height: 29px; 
  margin-left: 40px;
  
  li {
    display: block; 
    float: left; 
    height: 29px; 
    background: url(/images/submenu.png) no-repeat;
    
    a {
      display: block;
      width: 100%;
      height: 29px;
    }
    
    &.web {
      width: 79px;
      background-position: 0 0;

      &:hover {
        background-position: 0 -29px;
      }
    }
    
    &.offline {
      width: 74px;
      background-position: -79px 0;
      
      &:hover {
        background-position: -79px -58px;
      }
    }

    &.logos {
      width: 74px;
      background-position: -153px 0;
      
      &:hover {
        background-position: -153px -87px;
      }
    }
    
    &.flash {
      width: 80px;
      background-position: -227px 0;

      &:hover {
        background-position: -227px -116px;
      }
    }
    
  }
}

.outer-scroll {
  padding: 40px 0 0 0; 
  width: 960px; 
  height: 488px; 

  .scroll {

    float: left; 
    position: relative; 
    overflow: hidden; 
    width: 618px; 
    height: 468px; 

    .items {
      width: 20000em; 
      position: absolute; 

      div.item { 
        float:left; }
    }
  }

  a.nav {
    display: block; 
    width: 31px; 
    height: 31px; 
    
    img { 
      margin-top: 100px; }

    &.next {
      margin-right: 140px;
      margin-left: 20px;
      float: right; }

    &.previous {
      margin-left: 100px;
      margin-right: 20px;
      float: left; }
  }

}

.slide {
  width: 310px; 
  padding: 10px 20px;
  
  h2 {
    font-family: "Georgia", "serif"; 
    font-size: 32px; 
    margin-bottom: 18px; 
    color: #000; }
    
  p {
    font-family: "Georgia", "serif"; 
    font-size: 14px; 
    margin-bottom: 9px; 
    color: #929292;

    a {
      color: #aa0384;
      font-weight: bold;
      font-family: "Georgia", "serif"; 
      font-size: 15px; 
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
      
    }
  }
}

.hidden {
  display: none; }
  
a.disabled img { 
  display: none; }
  


