#about.about

  .photo

  .text
    %h1 About Me
  
    %p Hi, I am Petra Fölk (25), a hungarian graphic desinger.
    
    %p So, what to tell about me.. Long story short, I am obsessed with things like vivid-coloured pictures, fashion illustrations, fish, cheese, garlic - yes, despite of it's characteristic feature, the smell. Also, I adore spices, herbs and hot weather, the scent of the fresh morning grass, coloured pens, small cinemas and intimate winks, wide smiles and good winds, beams of sunlight piercing a thick veil of leaves and to interrupt slobbering speeches like this  ;)

    %p To get on to a bit more serious side of things, first of all, let me tell you about my main influences over the course of my life until now. I studied in Hungary and I was a participate of a special class, where I had the chance to learn drama, film and photography. Due to this, I now possess an explicit attitude towards contemporary arts, as of an adventurer's, in any design topic starting from stage visuals through fashion design and many, many more.
    
    %p After finishing school, I went to London, where I did work and studied for over a year. Initially, my motivation was to get real world experience in a multicultural environment. After spending a lot of time among multiple streams of design and art influences, I found the one which I liked the most: graphic design.
    
    %p Coming back to Budapest, I attended a two year design school, where I got hold of a wide spectrum of professional knowledge about graphic design, including pragmatical aspects and theoretical background and graduated receiving a "Certificate of Graphic Design". Besides my studies, I attended art organisations, got some experience with freehand graphic and concept design.
    
    %p Since this, I have been working as a designer for various well known companies, here at Budapest and continued to improve my knowledge and experience in a multitude of aspects of my chosen field of work, because I believe in the theory of lifelong learning.

    %p
      With that said, take a look at my portfolio,
      %br
      Petra Fölk
