#flash.outer-scroll

  %a.nav.previous
    %img{:src => "/images/previous.png", :alt => "Previous project"}

  .scroll

    .items
      .item
        %img{:src => "/images/flash/anyu_p.jpg", :alt => "Mother's Day"}
        .slide
          %h2 Mother's Day
          %p Short flash animations created for online card sending services, about Mother's Day.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/flash/baratsag_p.jpg", :alt => "Friendship"}
        .slide
          %h2 Friendship
          %p Short flash animations created for online card sending services, about friendship.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/flash/birthday_p.jpg", :alt => "Happy Birthday!"}
        .slide
          %h2 Happy Birthday!
          %p Short flash animations created for online card sending services wishing a happy birthday.
          %p
            %a{:href => "#"} See more »

      .item
        %img{:src => "/images/flash/munka_p.jpg", :alt => "Work"}
        .slide
          %h2 Work
          %p Short flash animations created for online card sending services, about working.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/flash/pillanat_p.jpg", :alt => "Moments"}
        .slide
          %h2 Moments
          %p Short flash animations created for online card sending services, about moments.
          %p
            %a{:href => "#"} See more »
            
      .item
        %img{:src => "/images/flash/szerelem_p.jpg", :alt => "Love"}
        .slide
          %h2 Love
          %p Short flash animations created for online card sending services, about love.
          %p
            %a{:href => "#"} See more »
  
  %a.nav.next
    %img{:src => "/images/next.png", :alt => "Next project"}
