.outer-scroll

  %a.previous
    %img{:src => "/images/previous.png", :alt => "Previous project"}


  .scroll

    .items
      %div
        %img{:src => "/images/img01.png", :alt => "test 1"}
      %div
        %img{:src => "/images/img02.png", :alt => "test 2"}
      %div
        %img{:src => "/images/img03.png", :alt => "test 3"}
  
  %a.next
    %img{:src => "/images/next.png", :alt => "Next project"}
