#logos.outer-scroll

  %a.nav.previous
    %img{:src => "/images/previous.png", :alt => "Previous project"}

  .scroll

    .items
      .item
        %img{:src => "/images/logos/4szoba_p.jpg", :alt => "4szoba.hu"}
        .slide
          %h2 4szoba.hu
          %p Logo design for a well-known news site for experts and enquirers in the design and enterieur field.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/logos/food_p.jpg", :alt => "foodmatters.hu"}
        .slide
          %h2 Foodmatters
          %p Logo design for a Budapest based cooking school.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/logos/goout_p.jpg", :alt => "go-out.hu"}
        .slide
          %h2 Go Out!
          %p Logo design for a Google Maps mashup, showing the oppurtinites in town where to go out.
          %p
            %a{:href => "#"} See more »

      .item
        %img{:src => "/images/logos/infirio_p.jpg", :alt => "Infirio"}
        .slide
          %h2 Infirio
          %p Logo design for a company selling Digital Screen Media services.
          %p
            %a{:href => "#"} See more »
        
      .item
        %img{:src => "/images/logos/lakjon_p.jpg", :alt => "Lakjon jól!"}
        .slide
          %h2 Lakjon jól!
          %p Logo design for a periodically organised event for householders - called "Live Well!" - who want to be informed about all the innovative solutions of Eco Living Health Awareness, presented by experts.
          %p
            %a{:href => "#"} See more »
            
      .item
        %img{:src => "/images/logos/lakjon2_p.jpg", :alt => "Lakjon jól! 2"}
        .slide
          %h2 Lakjon jól!
          %p Logo design for a periodically organised event for householders - called "Live Well!" - who want to be informed about all the innovative solutions of Eco Living Health Awareness, presented by experts.
          %p
            %a{:href => "#"} See more »

      .item
        %img{:src => "/images/logos/lakjon3_p.jpg", :alt => "Lakjon jól! 3"}
        .slide
          %h2 Lakjon jól!
          %p Logo design for a periodically organised event for householders - called "Live Well!" - who want to be informed about all the innovative solutions of Eco Living Health Awareness, presented by experts.
          %p
            %a{:href => "#"} See more »

      .item
        %img{:src => "/images/logos/north_p.jpg", :alt => "North American Hunting Expeditions"}
        .slide
          %h2 North Amercian Expedition 2009
          %p Logo design for a north-american hunting expedition, happened in 2009.
          %p
            %a{:href => "#"} See more »

      .item
        %img{:src => "/images/logos/tender_p.jpg", :alt => "Tender"}
        .slide
          %h2 Tender Logo
          %p Logo design for a civil organisation helping ethnic minorities.
          %p
            %a{:href => "#"} See more »
  
  %a.nav.next
    %img{:src => "/images/next.png", :alt => "Next project"}
