#photos.outer-scroll

  %a.nav.previous
    %img{:src => "/images/previous.png", :alt => "Previous project"}

  .scroll

    .items
      .item
        %img{:src => "/images/photos/photos_p.jpg", :alt => "Photos"}
        .slide
          %h2 Black & White Photographs
          %p Taken at and inspired by Budapest.
          %p
            %a{:href => "#"} See more »

  %a.nav.next
    %img{:src => "/images/next.png", :alt => "Next project"}
