/* line 4, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 6, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html { font-size: 100.01%; }

/* line 16, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 18, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
/* line 45, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

/* line 20, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 22, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 24, ../../../../.rvm/gems/ruby-1.9.1-p378@pepszi/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img { border: none; }

/* line 4, ../../sass/screen.scss */
body { background: url(/images/body-bg.png) repeat-x; margin: 0; padding: 0; }

/* line 9, ../../sass/screen.scss */
header, nav, section, aside { display: block; }

/* line 12, ../../sass/screen.scss */
.wrapper { width: 100%; height: 100%; background: url(/images/wrapper-bg.jpg) 50% 0 no-repeat; }

/* line 18, ../../sass/screen.scss */
.canvas { width: 960px; height: 963px; background: url(/images/canvas-bg.png) no-repeat; margin: 0 auto; }

/* line 24, ../../sass/screen.scss */
header { width: 960px; height: 150px; }
/* line 28, ../../sass/screen.scss */
header a { display: block; width: 220px; height: 90px; }

/* line 37, ../../sass/screen.scss */
nav { width: 960px; height: 70px; background: url(/images/nav-lenia.png) 0 1px no-repeat; }
/* line 42, ../../sass/screen.scss */
nav ul { list-style-type: none; display: block; margin: 0; padding: 0; width: 960px; height: 70px; padding-left: 27px; }
/* line 51, ../../sass/screen.scss */
nav ul li { display: block; float: left; height: 70px; background: url(/images/nav-bg.png) no-repeat; }
/* line 57, ../../sass/screen.scss */
nav ul li a { display: block; width: 100%; height: 70px; }
/* line 62, ../../sass/screen.scss */
nav ul li.design { width: 103px; background-position: -27px 0; }
/* line 66, ../../sass/screen.scss */
nav ul li.design:hover { background-position: -27px -70px; }
/* line 71, ../../sass/screen.scss */
nav ul li.exp { width: 160px; background-position: -130px 0; }
/* line 75, ../../sass/screen.scss */
nav ul li.exp:hover { background-position: -130px -140px; }
/* line 80, ../../sass/screen.scss */
nav ul li.photos { width: 92px; background-position: -290px 0; }
/* line 84, ../../sass/screen.scss */
nav ul li.photos:hover { background-position: -290px -210px; }
/* line 89, ../../sass/screen.scss */
nav ul li.graphics { width: 104px; background-position: -382px 0; }
/* line 93, ../../sass/screen.scss */
nav ul li.graphics:hover { background-position: -382px -280px; }
/* line 98, ../../sass/screen.scss */
nav ul li.about { width: 91px; background-position: -486px 0; }
/* line 102, ../../sass/screen.scss */
nav ul li.about:hover { background-position: -486px -350px; }

/* line 110, ../../sass/screen.scss */
.outer-scroll { padding: 20px 0 0 0; width: 960px; height: 488px; }
/* line 115, ../../sass/screen.scss */
.outer-scroll .scroll { float: left; position: relative; overflow: hidden; width: 618px; height: 468px; }
/* line 123, ../../sass/screen.scss */
.outer-scroll .scroll .items { width: 20000em; position: absolute; }
/* line 127, ../../sass/screen.scss */
.outer-scroll .scroll .items div.item { float: left; }
/* line 132, ../../sass/screen.scss */
.outer-scroll a.nav { display: block; width: 31px; height: 31px; }
/* line 137, ../../sass/screen.scss */
.outer-scroll a.nav img { margin-top: 100px; }
/* line 140, ../../sass/screen.scss */
.outer-scroll a.nav.next { margin-right: 140px; margin-left: 20px; float: right; }
/* line 145, ../../sass/screen.scss */
.outer-scroll a.nav.previous { margin-left: 100px; margin-right: 20px; float: left; }

/* line 153, ../../sass/screen.scss */
.slide { width: 310px; padding: 10px 20px; }
/* line 157, ../../sass/screen.scss */
.slide h2 { font-family: "Georgia", "serif"; font-size: 32px; margin-bottom: 18px; color: #000; }
/* line 163, ../../sass/screen.scss */
.slide p { font-family: "Georgia", "serif"; font-size: 14px; margin-bottom: 9px; color: #929292; }
/* line 169, ../../sass/screen.scss */
.slide p a { color: #aa0384; font-weight: bold; font-family: "Georgia", "serif"; font-size: 15px; text-decoration: none; }
/* line 176, ../../sass/screen.scss */
.slide p a:hover { text-decoration: underline; }

/* line 184, ../../sass/screen.scss */
.hidden { display: none; }
